In [40]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv('LEEGSTAND_TRANSFORMATIE.csv', delimiter = ';', usecols = [2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18])

In [63]:

df = df[df.Bruto_vloeroppervlak> 0]
# data voor het showen van de leegstand op de map
#df.to_json('leegstand.json', orient = 'records')

In [64]:
df['Postcode'] = df['Postcode'].str[:4].apply(pd.to_numeric, errors='coerce')
df.dropna(subset=['Postcode'], inplace=True)
# convert dat zipcode to a prupper int
df['Postcode'] = df['Postcode'].apply(lambda x: int(x))

In [72]:
df = df.groupby(['Postcode', 'Huidige_functie']).agg('count')

In [74]:
df['Gebouwnaam'].to_json('test.json', orient='index')

Postcode  Huidige_functie
1011      Bedrijf                           1
          Kantoor                           1
          Wonen                             1
1012      Kantoor                           3
          Kantoor - Wonen                   1
          Onderwijs                         1
1013      Bedrijf                           0
          Bedrijf - Hotel - Wonen           0
          Bedrijf - Wonen                   0
          Kantoor                           0
          Onbekend                          0
1014      Bedrijf                           0
          Kantoor                           7
          Wonen                             0
1015      Commercieel - Kantoor - Wonen     0
          Kantoor                           2
1016      Kantoor                           0
          Kantoor - Wonen                   0
1017      Kantoor                           0
          Kantoor - Wonen                   0
          Onbekend                          1
          Onderwijs - Wonen                 0
1018      Bedrijf                           1
          Bedrijf - Wonen                   0
          Commercieel                       0
          Commercieel - Wonen               0
          Kantoor                           0
          Kantoor - Bedrijf                 0
          Onderwijs                         1
1019      Bedrijf                           0
                                           ..
1081      Onbekend                          0
1082      Kantoor                           3
1083      Commercieel                       0
          Kantoor                           3
          Maatschappelijk                   1
          Onderwijs                         0
1091      Commercieel                       1
          Kantoor                           0
          Onderwijs - Wonen                 1
1092      Kantoor                           0
          Kantoor - Wonen                   1
          Maatschappelijk                   1
1093      Commercieel - Kantoor - Wonen     1
1096      Bedrijf                           0
          Kantoor                           2
          Maatschappelijk                   1
1097      Kantoor                           1
          Onderwijs                         0
1101      Bedrijf                           1
          Broedplaats                       1
          Kantoor                          12
1102      Broedplaats                       0
          Commercieel                       0
          Commercieel - Wonen               0
          Kantoor                           2
          Wonen                             0
1103      Kantoor                           0
1104      Kantoor                           0
1105      Kantoor                           4
1106      Kantoor                           0
Name: Gebouwnaam, dtype: int64