In [107]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 200)
pd.options.display.float_format = '{:,.0f}'.format
from __future__ import division

In [14]:
columns = ['id','scrape_id', 'neighbourhood', 'zipcode', 'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds', 'price', 'number_of_reviews', 'review_scores_rating', 'reviews_per_month'] 
listings = pd.read_csv('listings.csv')
#listings1 = listings(copy=True)
listings = listings[columns]
listings.index = listings['id']
del listings['id']
listings['price'] = listings['price'].replace(['[\$]', '[\,]'], '', regex=True).apply(pd.to_numeric)
# --> filter zipcode on first 4 numbers
listings['zipcode'] = listings['zipcode'].str[:4].apply(pd.to_numeric, errors='coerce')
listings.dropna(subset=['zipcode'], inplace=True)
# convert dat zipcode to a prupper int
listings['zipcode'] = listings['zipcode'].apply(lambda x: int(x))


listings['zipcode'].iloc[0]

1054

In [3]:
#price & reviews 
listings['zipcode'].astype('category')
price_reviews = pd.pivot_table(listings, index=['zipcode'], values=['price', 'scrape_id','number_of_reviews', 'review_scores_rating', 'reviews_per_month'], aggfunc={'price': np.mean, 'scrape_id': len, 'review_scores_rating': np.mean, 'reviews_per_month': np.mean, 'number_of_reviews': np.sum})
del price_reviews['scrape_id']
# --->>> JSON
price_reviews.sort() # SORT
price_reviews.to_json('price_reviews.json', orient='index')

/Users/sjoerd/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(....) is deprecated, use sort_index(.....)

In [155]:
# PROPERTY TYPES PIVOT

property_types = pd.pivot_table(listings, index='zipcode', columns='property_type', values='scrape_id', aggfunc=len).fillna(value=0)
property_types = pd.DataFrame(property_types)

property_types['total'] = property_types.sum(axis=1)
#property_types = property_types.loc[:, 'Apartment':'Villa'].div(property_types.total, axis = 0)
# --->>> JSON
p_columns = ['Apartment', 'Bed & Breakfast', 'Boat', 'Condominium', 'House', 'Loft', 'Townhouse']
property_types[p_columns].to_json('property_types.json', orient='index')

In [156]:
price_reviews

         number_of_reviews  price  review_scores_rating  reviews_per_month
zipcode
0                        1    120                    97                  0
173                     21    150                    96                  2
555                     12    110                    98                  1
689                      3    310                   100                  0
1000                     0     74                   nan                nan
1010                    34    125                    95                  1
1011                  7238    177                    94                  2
1012                 13247    180                    92                  2
1013                 11779    142                    94                  1
1014                   108    120                    92                  1
1015                 12842    161                    94                  1
1016                 11181    185                    94                  1
1017                 15513    173                    94                  2
1018                  9916    140                    95                  1
1019                  4596    152                    94                  1
1021                  2417    108                    93                  1
1022                  1118    136                    94                  1
1023                  1665    127                    92                  1
1024                   542    113                    93                  1
1025                  1577    125                    92                  1
1026                   113    122                    95                  0
1027                   473     91                    94                  2
1028                   441    106                    96                  1
1031                   764    117                    93                  1
1032                  1461    123                    92                  1
1033                   795    153                    94                  1
1034                  1017    112                    94                  1
1035                  1982     99                    93                  2
1036                   297    118                    94                  1
1037                     0    150                   nan                nan
...                    ...    ...                   ...                ...
1087                  1997    147                    95                  1
1090                     7    148                    91                  0
1091                  7706    125                    94                  1
1092                  2078    115                    95                  1
1093                  3024    126                    95                  1
1094                  5185    101                    94                  1
1095                  2738    105                    94                  1
1096                  1577    108                    93                  1
1097                  1259    121                    94                  1
1098                  2355    142                    95                  1
1101                     0     75                   nan                nan
1102                   985     74                    91                  2
1103                   897     82                    87                  2
1104                   646     72                    90                  2
1105                     3     75                   100                  2
1106                   660     86                    92                  2
1107                   132     77                    90                  1
1108                   418     99                    92                  1
1109                     0     83                   nan                nan
1111                     0     80                   nan                nan
1112                    26     35                    81                  6
1115                    90     47                    93                  5
1165                    38    109                    93                  1
1171                     0    170                   nan                nan
1175                    44     95                    92                  5
1181                    91    137                    95                  2
1182                     8    235                    93                  0
1186                    13     40                    91                  1
1954                     0    160                   nan                nan
2374                     0    195                   nan                nan

[93 rows x 4 columns]

In [154]:
listings

,scrape_id,neighbourhood,zipcode,property_type,room_type,accommodates,bedrooms,beds,price,number_of_reviews,review_scores_rating,reviews_per_month
id,,,,,,,,,,,,
14831696,20170402075052,NaN,1054,Apartment,Entire home/apt,6,2,6,145,4,95,1
3951251,20170402075052,NaN,1057,Apartment,Entire home/apt,2,1,1,88,17,93,1
16590973,20170402075052,NaN,1054,Apartment,Entire home/apt,2,1,1,130,4,100,2
9283701,20170402075052,Oud-West,1057,Apartment,Entire home/apt,4,2,3,110,2,100,0
6458721,20170402075052,Oud-West,1053,Apartment,Entire home/apt,2,1,1,115,10,96,0
14864447,20170402075052,Oud-West,1054,Apartment,Private room,1,1,1,70,11,83,2
16306240,20170402075052,Oud-West,1053,House,Entire home/apt,2,1,1,120,3,100,1
15211538,20170402075052,NaN,1056,Apartment,Private room,2,1,1,45,33,98,5
1261425,20170402075052,Oud-West,1056,Bed & Breakfast,Private room,2,1,nan,45,2,97,0
5978154,20170402075052,NaN,1053,Apartment,Entire home/apt,4,2,3,240,13,97,1
10691231,20170402075052,Oud-West,1056,Apartment,Entire home/apt,2,1,1,130,0,nan,nan
8024854,20170402075052,Oud-West,1053,Apartment,Entire home/apt,3,1,2,185,18,99,1
6606330,20170402075052,NaN,1054,Apartment,Entire home/apt,3,1,1,145,4,100,0
1551034,20170402075052,Oud-West,1054,Apartment,Entire home/apt,4,2,5,300,44,94,1
17229308,20170402075052,Oud-West,1057,Apartment,Private room,2,1,1,85,0,nan,nan
2117111,20170402075052,Oud-West,1058,Apartment,Entire home/apt,3,2,2,179,1,100,1
17312436,20170402075052,Oud-West,1058,Apartment,Entire home/apt,4,2,2,205,2,100,2
5317273,20170402075052,Oud-West,1054,House,Entire home/apt,5,3,5,175,1,100,0
76459,20170402075052,Oud-West,1054,Townhouse,Private room,2,1,2,110,11,98,0
6667963,20170402075052,Oud-West,1054,Loft,Entire home/apt,2,0,1,120,27,96,1
9424352,20170402075052,Oud-West,1057,Apartment,Entire home/apt,4,2,2,120,10,98,1
931801,20170402075052,Oud-West,1054,Apartment,Entire home/apt,2,1,1,130,115,94,2
17120914,20170402075052,NaN,1057,Apartment,Entire home/apt,2,1,1,90,0,nan,nan
14229674,20170402075052,Oud-West,1017,Boat,Entire home/apt,4,1,2,149,0,nan,nan
14987811,20170402075052,Oud-West,1058,Apartment,Entire home/apt,2,1,1,100,2,100,0
6110143,20170402075052,Oud-West,1056,Apartment,Entire home/apt,2,1,1,99,9,98,1
4926673,20170402075052,Oud-West,1057,Apartment,Private room,2,1,1,40,3,87,0
2174139,20170402075052,Oud-West,1053,Apartment,Entire home/apt,2,1,1,115,11,98,0
13577417,20170402075052,Oud-West,1054,Apartment,Entire home/apt,2,1,1,110,0,nan,nan
17654056,20170402075052,NaN,1056,Apartment,Entire home/apt,4,2,2,100,2,100,2
...,...,...,...,...,...,...,...,...,...,...,...,...
965629,20170402075052,Osdorp,1066,Bed & Breakfast,Private room,2,1,1,59,133,95,3
15965780,20170402075052,NaN,1060,House,Private room,4,1,1,100,3,100,1
5818567,20170402075052,Slotervaart,1066,Apartment,Entire home/apt,4,2,4,300,0,nan,nan
107326,20170402075052,Slotervaart,1066,Bed & Breakfast,Entire home/apt,4,2,3,110,71,88,1
13419985,20170402075052,Slotervaart,1066,Apartment,Entire home/apt,4,2,2,95,6,93,1
14566784,20170402075052,NaN,1066,Apartment,Private room,2,1,1,70,12,92,7
14568336,20170402075052,NaN,1066,Apartment,Private room,2,1,1,45,17,94,3
13710865,20170402075052,NaN,1066,Boat,Entire home/apt,6,3,6,350,1,100,0
16791036,20170402075052,NaN,1066,Apartment,Private room,4,2,2,120,1,100,1
6232340,20170402075052,Slotervaart,1066,House,Entire home/apt,6,2,3,150,8,93,0
7180158,20170402075052,Slotervaart,1066,Apartment,Private room,2,1,1,52,7,94,0
13278211,20170402075052,Slotervaart,1066,House,Entire home/apt,5,3,4,170,4,95,0
15798377,20170402075052,Slotervaart,1066,Apartment,Entire home/apt,4,2,3,119,4,95,1
16517898,20170402075052,NaN,1066,House,Private room,4,1,1,80,0,nan,nan
11110226,20170402075052,Osdorp,1060,Townhouse,Private room,1,1,1,43,27,96,2
8362554,20170402075052,NaN,1066,Boat,Entire home/apt,4,2,2,98,0,nan,nan
13599292,20170402075052,Slotervaart,1066,House,Entire home/apt,6,4,4,185,17,99,2
12485124,20170402075052,Osdorp,1060,Townhouse,Entire home/apt,6,3,6,200,0,nan,nan
3310738,20170402075052,Osdorp,1066,House,Private room,3,1,2,65,80,93,2
16942135,20170402075052,Slotervaart,1066,House,Entire home/apt,3,2,2,58,2,100,2
14456438,20170402075052,Slotervaart,1066,Apartment,Private room,3,1,2,85,16,91,2
4920568,20170402075052,Slotervaart,1069,Apartment,Private room,2,1,1,75,247,97,9
13538601,20170402075052,NaN,1066,Bed & Breakfast,Entire home/apt,2,0,1,79,19,98,2
6036183,20170402075052,NaN,1060,Apartment,Private room,2,1,1,55,55,93,2
17821105,20170402075052,NaN,1175,Boat,Entire home/apt,2,0,1,110,0,nan,nan
17447776,20170402075052,NaN,1171,Bed & Breakfast,Private room,4,2,3,140,0,nan,nan
17570877,20170402075052,NaN,1046,Apartment,Private room,4,1,2,80,0,nan,nan
17889982,20170402075052,NaN,1014,Apartment,Entire home/apt,2,1,1,125,0,nan,nan
17817873,20170402075052,NaN,1111,Apartment,Entire home/apt,4,2,1,80,0,nan,nan
17634195,20170402075052,NaN,1171,House,Entire home/apt,6,3,3,200,0,nan,nan