In [1]:
import json
import numpy as pd
import pandas as pd

In [56]:
postcodes = pd.read_excel('postcode_buurtcombinatie.xls')

data = open('buurten_amsterdam_wsg84_stadsdelen.geojson').read()
#jwz
geo_dict = json.loads(data)
for buurt in geo_dict['features']:
    buurtcombi = buurt['properties']['buurtcombi']
    
    for i in postcodes.iterrows():
        if buurtcombi == i[1]['buurtcombinatie']:
            postcode = i[1]['postcode_min']
            buurt['properties']['postcode'] = postcode[:4]

In [57]:
with open('buurten_amsterdam_wsg84_stadsdelen_zip.geojson', 'w') as fp:
    json.dump(geo_dict, fp)

In [4]:
ggba = pd.read_excel('GGBA.xlsx')

In [7]:
ggba.tail()

,niveau,niveaunaam,SD,sdnaam,gebiedcode15,gebiedcodenaam,gebiednaam,GSD,jaar,Bevtotaal,...,Dlabel_i,Wdubbelglas_p,Dzon,Dcontact_p,Dschrift_p,Bpolint_p,Bstemint_p,Bbc_p,Binvloed_p,Lhomotol_5
15147,9,Werkgebieden2016,NaN,NaN,bb74,bb74 Ziekenhuis Amstelveen e.o.,Ziekenhuis Amstelveen e.o.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15148,9,Werkgebieden2016,NaN,NaN,bb75,bb75 Burgemeester Rijnderslaan,Burgemeester Rijnderslaan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15149,9,Werkgebieden2016,NaN,NaN,bb76,bb76 Schweitzerlaan,Schweitzerlaan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15150,9,Werkgebieden2016,NaN,NaN,bb77,bb77 Stroombaan,Stroombaan,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15151,9,Werkgebieden2016,NaN,NaN,bb78,bb78 KLM e.o.,KLM e.o.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
columns = ['gebiedcode15', 'Bev4_12_p']
amsterdam =ggba[(ggba['niveaunaam'] == 'Postcode 4') & (ggba['jaar'] == 2017)][columns]
amsterdam

     gebiedcode15  Bev4_12_p
3787         1011        4.9
3788         1012        2.8
3789         1013        7.0
3790         1014        4.7
3791         1015        5.4
3792         1016        4.5
3793         1017        5.5
3794         1018        5.8
3795         1019       10.2
3796         1021        9.1
3797         1022       13.7
3798         1023        9.0
3799         1024       13.0
3800         1025        9.8
3801         1026       11.1
3802         1027        7.5
3803         1028       11.2
3804         1031       10.2
3805         1032        9.2
3806         1033        8.3
3807         1034       11.8
3808         1035       10.9
3809         1036       18.8
3810         1037        9.5
3811         1041        0.0
3812         1042        0.0
3813         1043        1.1
3814         1045        7.1
3815         1046        0.0
3816         1047        2.9
...           ...        ...
3837         1072        4.4
3838         1073        5.5
3839         1074        6.0
3840         1075        8.8
3841         1076        7.2
3842         1077       12.8
3843         1078        7.3
3844         1079        5.9
3845         1081        7.0
3846         1082        6.2
3847         1083        4.6
3848         1086       19.7
3849         1087       19.5
3850         1091        6.2
3851         1092        8.2
3852         1093        6.4
3853         1094        7.4
3854         1095        8.2
3855         1096        2.5
3856         1097        7.1
3857         1098        9.9
3858         1101        2.7
3859         1102       10.3
3860         1103        9.9
3861         1104       10.6
3862         1105        0.8
3863         1106       11.4
3864         1107        9.0
3865         1108        7.4
3866         1109       11.1

[80 rows x 2 columns]

In [67]:
amsterdam['total'] = amsterdam[amsterdam.columns[1:]].sum(axis=1)
amsterdam.columns = ['postcode', 'laag_inkomen', 'midden_inkomen', 'hoog_inkomen', 'total']

In [68]:
amsterdam

     postcode  laag_inkomen  midden_inkomen  hoog_inkomen  total
3787     1011           NaN             NaN           NaN    0.0
3788     1012           NaN             NaN           NaN    0.0
3789     1013           NaN             NaN           NaN    0.0
3790     1014           NaN             NaN           NaN    0.0
3791     1015           NaN             NaN           NaN    0.0
3792     1016           NaN             NaN           NaN    0.0
3793     1017           NaN             NaN           NaN    0.0
3794     1018           NaN             NaN           NaN    0.0
3795     1019           NaN             NaN           NaN    0.0
3796     1021           NaN             NaN           NaN    0.0
3797     1022           NaN             NaN           NaN    0.0
3798     1023           NaN             NaN           NaN    0.0
3799     1024           NaN             NaN           NaN    0.0
3800     1025           NaN             NaN           NaN    0.0
3801     1026           NaN             NaN           NaN    0.0
3802     1027           NaN             NaN           NaN    0.0
3803     1028           NaN             NaN           NaN    0.0
3804     1031           NaN             NaN           NaN    0.0
3805     1032           NaN             NaN           NaN    0.0
3806     1033           NaN             NaN           NaN    0.0
3807     1034           NaN             NaN           NaN    0.0
3808     1035           NaN             NaN           NaN    0.0
3809     1036           NaN             NaN           NaN    0.0
3810     1037           NaN             NaN           NaN    0.0
3811     1041           NaN             NaN           NaN    0.0
3812     1042           NaN             NaN           NaN    0.0
3813     1043           NaN             NaN           NaN    0.0
3814     1045           NaN             NaN           NaN    0.0
3815     1046           NaN             NaN           NaN    0.0
3816     1047           NaN             NaN           NaN    0.0
...       ...           ...             ...           ...    ...
3837     1072           NaN             NaN           NaN    0.0
3838     1073           NaN             NaN           NaN    0.0
3839     1074           NaN             NaN           NaN    0.0
3840     1075           NaN             NaN           NaN    0.0
3841     1076           NaN             NaN           NaN    0.0
3842     1077           NaN             NaN           NaN    0.0
3843     1078           NaN             NaN           NaN    0.0
3844     1079           NaN             NaN           NaN    0.0
3845     1081           NaN             NaN           NaN    0.0
3846     1082           NaN             NaN           NaN    0.0
3847     1083           NaN             NaN           NaN    0.0
3848     1086           NaN             NaN           NaN    0.0
3849     1087           NaN             NaN           NaN    0.0
3850     1091           NaN             NaN           NaN    0.0
3851     1092           NaN             NaN           NaN    0.0
3852     1093           NaN             NaN           NaN    0.0
3853     1094           NaN             NaN           NaN    0.0
3854     1095           NaN             NaN           NaN    0.0
3855     1096           NaN             NaN           NaN    0.0
3856     1097           NaN             NaN           NaN    0.0
3857     1098           NaN             NaN           NaN    0.0
3858     1101           NaN             NaN           NaN    0.0
3859     1102           NaN             NaN           NaN    0.0
3860     1103           NaN             NaN           NaN    0.0
3861     1104           NaN             NaN           NaN    0.0
3862     1105           NaN             NaN           NaN    0.0
3863     1106           NaN             NaN           NaN    0.0
3864     1107           NaN             NaN           NaN    0.0
3865     1108           NaN             NaN           NaN    0.0
3866     1109           NaN             NaN           NaN    0.0

[80 rows x 5 columns]